spring:
  datasource:
    url: jdbc:mysql://localhost:3306/billing_db
    username: root
    password: '@123456'
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    user:
      name: disable
